/* 功能性调整 */
/* 由苏晓河进行编写以及调整 */
/* 时间：2025年2月4日 */

/* 1.个人介绍中的头像旋转关闭 */
.avatar-img img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
/* 2.iconfont的css样式表 */
svg.icon {
    width: 1.28em;
    height: 1.28em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
/* 首页文章卡片简介隐藏 */
#recent-posts>.recent-post-item>.recent-post-info>.content {
    opacity: 0;
    line-height: .7;
    transition: all .3s;
    bottom: 0;
}