.recent-posts {
    padding-left: 0px;
    padding-right: 0px;
}
@media screen and (max-width: 900px) {
    .recent-posts {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/* --------------------------------------------------------------------------- */
#recent-posts>.recent-post-item {
    border: 2px solid rgba(0, 255, 255, .6);
    font-size: 14.5px;
    font-weight: 700;
    background: rgba(255, 255, 255, .67);
}